body{
  margin:0px;
  background-color:#d6e8b6;
}

.topLogo{
  width:11%;
  padding:0.25%;
}

.bannerImage{
  height:10%;
  width:70%;
  margin:1% 0%;
}

#topResources{
  width:15%;
  height:10%;
  display:inline-block;
  color:white;
  vertical-align: bottom;
  margin-bottom:1%;
  font-family: 'Kreon', serif;
}

#topResources li{
  list-style-type: none;
  text-align: center;
  padding:none;
}

#topResources ul{
  padding:0px;
  vertical-align: middle;
}

#topResources a{
  color:white;
}

#topResources li .fa{
  padding-top: 2%;
}

header article{
  background-color:black;
}

nav{
  background-color:#94c840;
  float:clear;
  text-align: center;
}

nav ul{
  margin:0px; 
  font-size:2rem; 
}

nav li{
  list-style-type: none;
  display:inline-block;
  margin:0% 2%;
  font-family: 'Bungee', cursive;
}

nav a{
  color:#523e33;
  text-decoration: none;
  font-weight:800;
  text-shadow: 1px 1px white;
}

nav a:hover{
  text-decoration: underline;
}

.fa{
  display:inline-block;
  padding:0px 3%;
}

footer{
  clear:both;
  background-color:#94c840;
  margin-bottom:0px;
  padding:0.5%;
  text-align: center;
  font-family: 'Kreon', serif;
  color:#523e33;
}

footer i{
  color:#523e33;
}

footer li{
  list-style-type: none;
  text-align: center;
  padding:none;
}

footer li .fa{
  padding:0.25% 0.5%;
  
}

footer li a{
  color:black;
  text-decoration:none;
}

footer p{
  text-align: center;
  padding: 0% 20%;
}

.leftArrow, .rightArrow{
  height:5rem
}

.homeImages{
  background-image:url(../images/students-competing.jpg);
  float:right;
  margin:3%;
  border: 5px solid black;
  border-radius:20px;
  height:25rem;
  width:40rem;
}

.homeImages:hover{
  background-image: url('../images/students-competing2.jpg');
  border-color:red;
}

.overview{
  background-color:#d6e8b6;
  margin:0px;
  padding:1%;
}

.overview h1{
  font-family: 'Kreon', serif;
  font-size:3.5rem;
  color:#523e33;
}

.overview p{
  font-size:2rem;
  color:#523e33;
}

.overview div{
  text-align:center;
}

.span_1_of_3{
  width:32%;
  float:left;
  margin:0.25%;
}

.span_1_of_2{
  width:50%;
}

.span_3_of_4 {
  width: 74.6%;
  float:left;
}

.span_3_of_4 p, h1{
  text-align: left;
}

.span_1_of_4 {
  width: 23.8%;
  float:left;
}

.span_1_of_3 img{
  width: 90%;
  border-top-left-radius:2rem;
  border-top-right-radius:2rem;
  border:0.25rem ridge #523e33;
  border-bottom:0.5rem ridge black;
}

.theTeam{
  text-align: center;
  margin: 0.5%;
  padding:0% 8%;
}

.group{
  width:100%;
  margin:1%;
}

.group i{
  margin-top:2%;
}

h3{
  font-size: 2rem;
  margin:0px;
  padding:0px;
  list-style-type: none;
  display:inline-block;
  margin:0% 2%;
  font-family: 'Bungee', cursive;
  font-weight:800;
  text-shadow: 1px 1px white;
  color:#523e33;
}

.group p{
  margin-top:0px;
}

.Derek{
  border-left:0.3rem solid #523e33;
  border-right:0.3rem solid #523e33;
}

.classTable{
  width:80%;
  align-content: center;
  margin:0% 10% 1% 10%;
  border: 2px solid antiquewhite;
}

.leftCol{
  width:10%;
  font-weight:800;
  font-size:1.75rem;
  font-family: 'Kreon', serif;
  background-color:antiquewhite;
  padding:0.25%;
}

.rightCol{
  width:80%;
  font-family: 'Kreon', serif;
  font-size: 1.25rem;
  background-color:antiquewhite;
  padding:0.25%;
}

.topRow{
  font-family: 'Kreon', serif;
  font-size:2.5rem;
  background-color:#94c840;
  font-family: 'Bungee', cursive;
  text-shadow: 1px 1px white;
  color:#523e33;
  width:80%;
  padding-left:0.5%
}

.topRow2{
  width:20%;
}

.learnMore a{
  text-decoration:none;
  font-family: 'Kreon', serif;
  color:#523e33;
  background-color:antiquewhite;
  padding:0.75%;
  border-radius:3rem;
  border:0.2rem solid #523e33;
}

.learnMore a:hover{
  text-decoration: underline;
  font-weight:500;
}

.h2Section img{
  width:10%;
}

h2{
  font-family: 'Kreon', serif;
  vertical-align: middle;
  color:#523e33;
  font-size:4rem;
  padding-bottom:0.25%;
  margin:0px;
}

.arrowLeft{
  padding-right:0.5%;
}

.arrowRight{
  padding-left:0.5%;
}

.offeringP{
  text-align: center;
  width:80%;
  margin:0% 10%;
}

.aboutGrid{
  width:80%;
  height:22rem;
  margin:0.5% 10%;
  padding:0% 2%;
  background-color:antiquewhite;
  border: 5px solid white;
  border-radius:10px;
}

.aboutGridLeft{
  width:70%;
  float:left;
  text-align: left !important;
}

.aboutGridLeft p{
  text-align: left;
  margin:0px;  
}

.aboutGrid h3{
  text-align: left;
  text-shadow: 1px 1px white;
  margin-left:0px !important;
}

.aboutGridRight{
  width:24%;
  margin:2%;
  float:left;
}

.aboutImgs{
  width:100%;
  float:left;
  margin:2%;
  border: 5px solid white;
  border-radius:10px;
}
